body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
  }
  
  .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  
  .hoverButton{
    border: none;
    color: rgb(239, 6, 6);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn1{
    background-color: yellow;
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 12px;
  
  }
  .btn1:hover {
    background-color: rgb(9, 242, 9);
    cursor: pointer;
  }

  .btn2{
    background-color: yellow;
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 12px;
    
  }
  .btn2:hover {
    background-color: red;
    cursor: pointer;
  }

  .btn3{
    background-color: yellow;
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 12px;
    
  }
  .btn3:hover {
    background-color: aqua;
    cursor: pointer;
  }

  #min{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    font-size: 30px;
    left: 640px;
    position: absolute;
    top: 500px;
  
    
  }
  #sec{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    font-size: 30px;
    left: 730px;
    position: absolute;
    top: 500px;
  }
.minsec{
  font-size: 25px;
}
  .colon{
    position: absolute;
    left: 710px;
    top: 468px;
    font-size: 25px;
  }